debian/yandex-load-tank-base
debian/yandex-load-tank-base.substvars
build-stamp
*.ammo
*.stpd
dummy.*.conf
configure-stamp
.project
*.log
*.pyc
.*
debian/files
*.debhelper
Tank/Plugins/DataUploader.py
