debian/yandex-load-tank-base
debian/yandex-load-tank-base.substvars
build-stamp
*.ammo
*.stpd
configure-stamp
.project
*.log
*.pyc
.*
debian/files
*~debian/yandex-load-tank-base.postinst.debhelper
debian/yandex-load-tank-base.prerm.debhelper
