debian/yandex-load-tank-base
debian/yandex-load-tank-base.substvars
build-stamp
configure-stamp
.project
*.log
*.pyc
.*
debian/files
*.debhelper
Tank/Plugins/DataUploader.py
Tests/nosetests.xml
load.ini
tmp/
Tests/data/modified_*.jmx
Tests/20*/lunapark_*.lock