#### Lunapark Config File ####

## Basic Section ##
# Адрес и порт тестируемой машинки
address=127.0.0.1:80 
#Схема нагрузки
load = const (10,10m) 
# Перечисление заголовков и GET запросов
header_http = 1.1
header_connection = close
header_host = target.yandex.net
uri = /

## Advanced Section ##
#ammofile=test.ammo
#ssl=1
#autostop = http(5xx,100%,1)
#instances=10
#writelog=1
#task=LOAD-999
#monitoring_config=<путь к файлу>
#inform = username
#time_periods = 10 45 50 100 150 300 500 1s 1500 2s 3s 10s # крайнее значение 10s является коннект таймаутом
#job_name = Краткое имя стрельбы
#job_dsc = Описание стрельбы
#ver = Версия пакета/коммита/whatever

## Expert Section ##
#instances_schedule = line (1,1000,10m)
#tank_type=2
#gatling_ip = 141.8.153.82 141.8.153.81
