!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Yandex.Tank
    link(rel="stylesheet", href="static/css/bootstrap.min.css")
    link(rel="stylesheet", href="static/css/bootstrap-theme.min.css")
    script(src="static/js/vendor/socket.io.min.js")
    script(src="static/js/vendor/jquery.min.js")
    script(src="static/js/vendor/angular.min.js")
    script(src="static/js/vendor/bootstrap.min.js")
    script(src="static/js/vendor/d3.min.js")
    script(src="static/js/vendor/rickshaw.min.js")
    script(src="static/js/ws.js")
    script(type="text/javascript")
      document.cached_data = {{cached_data}};
  body
    .app(ng-app="ng-tank-report", ng-controller="TankReport")
      h1.title="Yandex.Tank report"
      p My beautiful report
      #status {{!status}}
      #overall
        .metric.panel(ng-repeat="(metric, values) in overallData")
          h3 {{!metric}}
          {{!values}}
      #monitoring
        .host.panel(ng-repeat="(host, groups) in monitoringData")
          h3 {{!host}}
          .rs.panel(ng-repeat="(group, metrics) in groups")
            h4 {{!group}}
            rickshaw(metrics="metrics", renderer="line", width="800", height="600")
