!!! 5
html(lang="en")
  head
    title="Yandex.Tank"
    script(src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="static/js/ws.js")
  body
    h1.title="Yandex.Tank report"
    p {{cached_data}}
    p My beautiful report
    #msg
