Source: yandex-load-tank-base
Section: devel
Priority: optional
Maintainer: Yandex Load Testing Team <doctornkz@yandex.ru>
Build-Depends: debhelper (>= 7), python | python-all | python-dev | python-all-dev
Standards-Version: 3.9.3
Homepage: https://github.com/yandex-load/yandex-tank

Package: yandex-load-tank-base
Architecture: all
Depends: python (>=2.6), python-ipaddr, python-lxml, python-progressbar, python-psutil,
	phantom(>=0.14), phantom-ssl,
    ${misc:Depends}
Recommends: python-mysqldb, python-sqlalchemy
Description: Yandex.Tank (Load Testing Tool)
 turns common Debian compatible computer into heavy machinegun

