Source: yandex-load-tank-base
Section: yandex
Priority: extra
Maintainer: Yandex Load Testing Team <load@yandex-team.ru>
Build-Depends: debhelper (>= 7), python | python-all | python-dev | python-all-dev
Standards-Version: 3.9.3

Package: yandex-load-tank-base
Architecture: all
Depends: perl, perl-base, perl-modules, libjson-perl, libconfig-general-perl, libxml-simple-perl, libnet-ip-perl, libfile-which-perl, libterm-readkey-perl,
    phantom(>=0.14.0~pre29), phantom-ssl,
    python (>=2.6), python-simplejson, python-progressbar,
Suggests: yandex-load-monitoring(>=0.1-30)
Description: Yandex.Tank (Load Testing Tool)
  turns common Debian compatible computer into heavy machinegun

